html{

    margin: 5px;
    border: 1px solid red;
}

body{

    padding: 5px;
    border: 1px solid blueviolet;
}

#root{

    padding: 5px;
    border: 1px solid pink;

    /* height: 100vh; */

    display: flex;
    flex-direction: column;

    align-items: center;
}

#nav{

    border: 1px solid green;

    display: flex;
    justify-content: end;

    gap: 10px;
}

#home{

    padding: 5px;
    border: 1px solid blue;
}

#cards{

    padding: 5px;
    border: 1px dotted black;

    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
}

.card{

    height: 300px;
    width: 250px;

    border: 1px solid black;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 10px;
}

.card .title{

    height: 50px;    
    padding: 10px;

    text-align: center;

    display: flex;
    align-items: center;
}

img{

    width: 100px;
    height: 100px;
}

.palette{

    display: flex;
}

input{
    width: 75px;
}

#cart{

    padding: 5px;
    border: 1px solid cyan;
}

#cartItems{

    padding: 5px;
    border: 1px dotted black;

    width: 840px;

    display: flex;
    flex-direction: column;

    gap: 5px;
}

.cartItem{

    border: 1px solid black;

    display: flex;
    justify-content: space-around;
}