html{

    /* margin: 5px; */
    /* border: 1px solid red; */
}

body{

    margin: 0;
    /* border: 1px solid blueviolet; */

    font-family: 'Share Tech Mono', monospace;
}

#root{

    padding: 5px;
    /* border: 1px solid pink; */

    /* height: 100vh; */

    display: flex;
    flex-direction: column;

    align-items: center;
}

#nav{

    padding: 5px 0;
    border: 1px solid green;

    display: flex;
    justify-content: end;

    width: 1051px;
    gap: 10px;

    border: 1px solid black;
    border-radius: 2.5px;
}

#nav a{

    text-decoration: none;
    color: black;

    padding-right: 5px;
}

#nav a:hover{
    font-size: 1.1rem;
}

#home{

    padding: 5px;
    /* border: 1px solid blue; */
}

#header{

    display: flex;

    justify-content: space-between;
    align-items: end;

    padding-bottom: 10px;
}

h1{

    padding-left: 5px;
    margin-bottom: 0;
}

#loader{

    display: flex;
    font-size: 5rem;

    justify-content: center;
    align-items: center;

    width: 1053px;
    height: 680px;
}

#cartPalette{

    display: flex;
    flex-direction: column;

    align-items: end;

    gap: 2.5px;
    padding-right: 5px;
}

#cartTotal{
    font-size: 1.2rem;
}

#cards{

    padding: 5px;

    border: 1px dotted black;
    border-radius: 2.5px;

    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr;

    row-gap: 10px;
    column-gap: 10px;
}

.card{

    height: 300px;
    width: 250px;

    border: 1px solid black;
    border-radius: 2.5px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 15px;
}

.card .title{

    height: 50px;    
    padding: 10px;

    text-align: center;

    display: flex;
    align-items: center;
}

img{

    width: 100px;
    height: 100px;
}

.palette{

    display: flex;
}

input{

    border: 1px solid black;
    border-radius: 2.5px;

    height: 23.6px;
    width: 105px;

    text-align: center;
    font-family: 'Share Tech Mono', monospace;
}

#cart{

    padding: 5px;
    /* border: 1px solid cyan; */
}

#cartItems{

    padding: 5px;
    
    border: 1px dotted black;
    border-radius: 2.5px;

    width: 1041px;

    display: flex;
    flex-direction: column;

    gap: 5px;
}

.cartItem{

    border: 1px solid black;
    border-radius: 2.5px;

    display: flex;

    align-items: center;
    justify-content: space-around;

    padding: 7.5px 0;
}

.cartItem_title{
    width: 540px;
}

.cartItem_quantity{

    text-align: center;
    width: 35px;
}

.cartItem_price{
    width: 54px;
}

button{

    border: 1px solid black;
    border-radius: 2.5px;

    padding: 5px 15px;
    background-color: white;

    font-family: 'Share Tech Mono', monospace;
}

button:hover{

    color: white;
    background-color: black;
}